<mat-toolbar class="menubar">
    <!-- <mat-toolbar-row> -->
    <span class="titleltxt"><h4>Suerte </h4></span>
    <span class="dash-spacer"></span>


    <img src="{{photourl}}" alt="Avatar" class="avatar" [matTooltip]="username" matTooltipHideDelay="200">
    <!--
        Show logged in user image now
        <button mat-icon-button [routerLink]="['/dashboard/home']">
          <mat-icon class="dash-icon" aria-hidden="false" aria-label="home icon">home</mat-icon>
        </button>
    -->
    <button mat-icon-button aria-label="logout" [matTooltip]="logouttxt" matTooltipHideDelay="200" (click)="logout()">
          <mat-icon class="dash-icon" aria-hidden="false" aria-label="exit_to_app icon">exit_to_app</mat-icon>
        </button>
    <!-- <mat-icon class="dash-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
    <!-- </mat-toolbar-row>-->

</mat-toolbar>

<mat-sidenav-container class='sidenavContainer'>
    <mat-sidenav class='sidenav' #sidenav mode="side" [(opened)]="opened">

        <div class='sidenav-content'>
            <button mat-button [routerLink]="['./reqform']">
              <mat-icon class="dash-icon-dark" >assignment</mat-icon>Request forms
          </button>
        </div>

        <div class='sidenav-content'>
            <button mat-button [routerLink]="['./viewform']">
              <mat-icon class="dash-icon-dark" ><span class="material-icons-outlined">
                assignment_turned_in
                </span></mat-icon>View forms
          </button>
        </div>


    </mat-sidenav>
    <mat-sidenav-content>
        <p>
            <button mat-icon-button aria-label="menu" (click)="togglemenu()">
              <mat-icon class="dash-icon-dark" aria-hidden="false" aria-label="menu icon">menu</mat-icon>
          </button>
        </p>
        <div class='main-container' color='primary'>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>